body{
    background-image: url("https://raw.githubusercontent.com/CKStudios2018/LoopyOS/main/backgrounds/Desktop.png");
}

button{
    position: absolute;
    cursor: pointer;
    border-radius: 0px;
    top : 40px;
    right : 100px;
}
