body{
    background-image: url("https://raw.githubusercontent.com/CKStudios2018/LoopyOS/main/backgrounds/Desktop.png");
}

#calculator{
    position: absolute;
    cursor: pointer;
    border-radius: 0px;
    top : 42px;
    left : 38px;
}
#logout{
    position: absolute;
    cursor: pointer;
    border-radius: 0px;
    top : 82px;
    left : 45px;
}
